<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
</head>
<body>
    <div>
        <h1>
            Posts
        </h1>
    </div>
    <hr>
    
    {% for post in posts%}
        <div>
            <h2>{{post.title}}</h2>
            <p>{{post.description}}</p>
            <p><small>{{post.published_date}}</small></p>
        </div>
    {% endfor %}
        
</body>
</html>